.acceuilmain{
    background-image: url("restaurant_locaux.jpg");
}

.menumain{
    background-image: url("bois-texture.jpg");
}

.navbarstyle{
    background-image: url("acier.jpg");
}

.text-box {
    display: none;
    position: relative;
    text-align: center;
    margin: 10px 200px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .text-box.show {
    display: block;
  }

.dispo-menu{
    margin: 50px 200px;
    border: solid;
    background-color: #ECBF00;
}

.font-text{
    font-size: larger;
    font-family: 'Dancing Script', cursive;
}

.font-title{
    text-decoration: underline;
}

.big{
    font-size: x-large;
}

.x-big{
    font-size: xx-large;
}

.becenter{
    text-align: center;
}
.menuborder{
    border: solid;
}