:root{
    --primary-color: #418FBF;
    --background-color: #F2F2F2;
    --primary-font: "Roboto";
}

body{
    background-color: var(--background-color);
    font-family: var(--primary-font);
    font-size: large;
}
nav ul{
    list-style: none;    
    display: flex;
    gap: 20px;
}

section{
    display: flex;
    justify-content: center;
    /*background-color: var(--primary-color);
    margin: 0px 600px 0px;*/
}

p{
    display: flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    font-size: medium;
}

form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}