:root{
    --primary-color: #418FBF;
    --background-color: #F2F2F2;
    --primary-font: "Roboto";
}

body{
    background-color: var(--background-color);
}
nav ul{
    list-style: none;    
    display: flex;
    gap: 20px;
}

h1{
    display: flex;
    justify-content: right;
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    margin: 0px 600px 0px;
}

p{
    display: flex;
    justify-content: center;
    font-family: var(--primary-font);
}

footer{
    display: flex;
    justify-content: flex-end;
}